Source: fty-service-status
Maintainer: Clement Perrette <clementperrette@eaton.com>
Build-Depends: cmake (>=3.0), debhelper (>= 9), catch2
Standards-Version: 1.0.0
Section: devel
Priority: extra

Package: fty-service-status-dev
Architecture: any
Depends: ${misc:Depends}
Description: Single header library for service status plugin architecture
